header nav ul li   {

    display: inline-block;
    margin: 10px 100px;
    padding: 10px 20px;
    background-color: hsl(144, 15%, 87%);
    border-radius: 50px;

    border : 1px solid white ;

}
h1 {
    text-align: center;
    font-weight: bolder;
    font-family: 'Satisfy', cursive;
    background-color: #3d5a80;
    color: #f7cad0;
    padding: 60px;
    box-shadow: 0px 0px 10px 2px gray;

}
nav {
    background-color: #fae0e4;
    margin-top: -20px;
    box-shadow: 0px 0px 10px 2px gray;

}
li :hover {
    color: #d89ba4 ;
}