header nav ul li   {

    display: inline-block;
    margin: 10px 100px;
    padding: 10px 20px;
    background-color: hsl(144, 15%, 87%);
    border-radius: 50px;

    border : 1px solid white ;

}
h1 {
    text-align: center;
    font-weight: bolder;
    font-family: 'Satisfy', cursive;
    background-color: #3d5a80;
    color: #f7cad0;
    padding: 60px;
    box-shadow: 10px gray;
}